<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.forrestguice.suntimes.intervalmidpoints">

    <uses-permission android:name="suntimes.permission.READ_CALCULATOR" />  <!-- required to interact w/ Suntimes provider -->

    <!-- RECEIVE_BOOT_COMPLETED; -most likely not required- but some devices/versions/manufacturers may block?
         This app doesn't respond to BOOT_COMPLETED directly. It's ContentProvider is triggered by Suntimes
         while scheduling alarms during BOOT_COMPLETED. -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Activity: Main -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- tell Suntimes this activity should be listed in the addons menu -->
            <intent-filter>
                <action android:name="suntimes.action.ADDON_MENUITEM" />
                <category android:name="suntimes.SUNTIMES_ADDON" />
            </intent-filter>
            <meta-data android:name="SuntimesMenuItemTitle" android:value="@string/app_name" />

            <!-- tell Suntimes this app provides custom actions -->
            <intent-filter>
                <action android:name="suntimes.action.ADDON_ACTION" />
                <category android:name="suntimes.SUNTIMES_ACTION" />
            </intent-filter>
            <meta-data android:name="ActionInfoProvider"
                android:value="content://suntimes.intervalmidpoints.provider" />

        </activity>

        <activity android:name=".AlarmActivity">

            <!-- tell Suntimes this activity can be used to choose alarm events -->
            <intent-filter>
                <action android:name="suntimes.action.PICK_EVENT" />
                <category android:name="suntimes.SUNTIMES_ADDON" />
            </intent-filter>
            <meta-data android:name="SuntimesEventPickerTitle" android:value="@string/app_name" />

            <!-- tell Suntimes this app provides addon alarm events -->
            <intent-filter>
                <action android:name="suntimes.action.ADDON_EVENT" />
                <category android:name="suntimes.SUNTIMES_ALARM" />
            </intent-filter>
            <meta-data android:name="EventInfoProvider"
                android:value="content://suntimes.intervalmidpoints.provider" />

        </activity>

        <!-- Content Provider -->
        <provider
            android:name="com.forrestguice.suntimes.intervalmidpoints.data.IntervalMidpointsProvider"
            android:authorities="suntimes.intervalmidpoints.provider"
            android:exported="true" android:permission="suntimes.permission.READ_CALCULATOR"
            android:syncable="false" />

    </application>

    <queries>
        <package android:name="com.forrestguice.suntimeswidget" />    <!-- package visibility api 30+ -->
    </queries>

</manifest>
